In [2]:
#https://www.kaggle.com/datasets/hasibullahaman/traffic-prediction-dataset/data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

C:\Users\adamh\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [15]:
file = ('Traffic.csv')
ds = pd.read_csv(file)
ds.head()

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,TrafficSituation
0,12:00:00 AM,10,Tuesday,31,0,4,4,39,low
1,12:15:00 AM,10,Tuesday,49,0,3,3,55,low
2,12:30:00 AM,10,Tuesday,46,0,3,6,55,low
3,12:45:00 AM,10,Tuesday,51,0,2,5,58,low
4,1:00:00 AM,10,Tuesday,57,6,15,16,94,normal

In [16]:
ds.dtypes

Time                object
Date                 int64
Day of the week     object
CarCount             int64
BikeCount            int64
BusCount             int64
TruckCount           int64
Total                int64
TrafficSituation    object
dtype: object

In [17]:
day_mapping = {'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7}
traffic_mapping = {'low': 1, 'normal': 2, 'high': 3 , 'heavy': 4}

In [18]:
ds['Time'] = pd.to_datetime(ds['Time']).dt.hour * 60 + pd.to_datetime(ds['Time']).dt.minute
ds['Time'] = ds['Time'] / 60.0

<ipython-input-18-d87fcb9a3ce3>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ds['Time'] = pd.to_datetime(ds['Time']).dt.hour * 60 + pd.to_datetime(ds['Time']).dt.minute
<ipython-input-18-d87fcb9a3ce3>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ds['Time'] = pd.to_datetime(ds['Time']).dt.hour * 60 + pd.to_datetime(ds['Time']).dt.minute

In [19]:
ds.head()

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,TrafficSituation
0,0.00,10,Tuesday,31,0,4,4,39,low
1,0.25,10,Tuesday,49,0,3,3,55,low
2,0.50,10,Tuesday,46,0,3,6,55,low
3,0.75,10,Tuesday,51,0,2,5,58,low
4,1.00,10,Tuesday,57,6,15,16,94,normal

In [20]:
ds['Day of the week'].replace(day_mapping, inplace=True)
ds['TrafficSituation'].replace(traffic_mapping, inplace=True)
ds.head()

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,TrafficSituation
0,0.00,10,2,31,0,4,4,39,1
1,0.25,10,2,49,0,3,3,55,1
2,0.50,10,2,46,0,3,6,55,1
3,0.75,10,2,51,0,2,5,58,1
4,1.00,10,2,57,6,15,16,94,2

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X = ds.drop(columns=['TrafficSituation']) 
y = ds['TrafficSituation'] 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)